<section class="carrito-page">

  <h1>Mi carrito</h1>

  @if (carritoService.obtenerCarrito().length === 0) {
    <p class="vacio">Todavía no tienes vestidos en el carrito.</p>
  }


  @for (vestido of carritoService.obtenerCarrito(); track vestido.vestidoId) {

    <div class="carrito-card">

      <img [src]="vestido.imagen">

      <div class="info">

        <h2>{{ vestido.nombre }}</h2>

        <p>{{ vestido.categoria }}</p>

        <span>{{ vestido.precio }} €</span>

      </div>


      <button (click)="carritoService.eliminarCarrito(vestido)">
        Eliminar
      </button>


    </div>

  }



  @if (carritoService.obtenerCarrito().length > 0) {

    <div class="total">

      <h2>
        Total: {{ carritoService.totalCarrito() }} €
      </h2>


      <div class="checkout">

        <h3>Datos de envío</h3>

        <input
            type="text"
            placeholder="Dirección de casa"
            [(ngModel)]="direccion"
            name="direccion"
        >

        <input
            type="text"
            placeholder="Ciudad"
            [(ngModel)]="ciudad"
            name="ciudad"
        >

        <input
            type="text"
            placeholder="Código postal"
            [(ngModel)]="codigoPostal"
            name="codigoPostal"
        >

        <h3>Pago con PayPal Sandbox</h3>

        <div id="paypal-button-container"></div>

        </div>

    </div>

  }


</section>