.carrito-page {
  min-height: 100vh;
  background-color: #f6f1ec;
  padding: 50px;
  text-align: center;
}

.carrito-page h1 {
  font-family: Georgia, serif;
  font-size: 48px;
  margin-bottom: 40px;
}

.vacio {
  font-size: 20px;
  color: #555;
}

.carrito-card {
  width: 75%;
  margin: 25px auto;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.carrito-card img {
  width: 140px;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
}

.info {
  flex: 1;
  text-align: left;
}

.info h2 {
  font-family: Georgia, serif;
  font-size: 26px;
}

.info span {
  font-weight: bold;
  font-size: 20px;
}

.carrito-card button,
.total button {
  background-color: #111;
  color: white;
  border: none;
  padding: 13px 22px;
  border-radius: 10px;
  cursor: pointer;
}

.total {
  margin-top: 40px;
}

.total h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .carrito-card {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .info {
    text-align: center;
  }
}

.checkout {
  width: 420px;
  margin: 40px auto;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.checkout h3 {
  font-family: Georgia, serif;
  margin: 20px 0 15px;
}

.checkout input {
  width: 100%;
  padding: 13px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.checkout button {
  width: 100%;
  margin-top: 15px;
}