<section class="favoritos-page">

  <h1>Mis favoritos</h1>

  @if (favoritosService.obtenerFavoritos().length === 0) {
    <p class="vacio">Todavía no tienes vestidos favoritos.</p>
  }

  <div class="favoritos-grid">

    @for (vestido of favoritosService.obtenerFavoritos(); track vestido.vestidoId) {

      <div class="favorito-card">

        <img [src]="vestido.imagen">

        <h2>{{ vestido.nombre }}</h2>

        <p>{{ vestido.categoria }}</p>

        <span>{{ vestido.precio }} €</span>

        <button (click)="favoritosService.agregarOQuitarFavorito(vestido)">
          Quitar de favoritos
        </button>

      </div>

    }

  </div>

</section>